<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="hosting-page">


    <template>

        <div>Questa è la pagina <br>che ospita il dialogo</div>

        <vaadin-button id="openDialog">Open dialog!</vaadin-button>

        <vaadin-dialog id="dialog" aria-label="polymer templates"></vaadin-dialog>

    </template>


    <script>
        class HostingPage extends Polymer.Element {
            static get is() {
                return 'hosting-page'
            }
        }

        customElements.define(HostingPage.is, HostingPage);

    </script>

</dom-module>

