<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="tabellone-polymer">
    <template>
        <!--<div style="border: 1px solid black; padding: 10px; margin: 10px;">-->
            <!--<slot>No components added</slot>-->
        <!--</div>-->

        <div id="servizi" style="display: flex; flex-direction: column;">
            <template is="dom-repeat" items="[[servizi]]">
                <servizioCellPolymer>{{item.code}}</servizioCellPolymer>
            </template>
        </div>

    </template>


    <script>
        class TabellonePolymer extends Polymer.Element {
            static get is() {
                return 'tabellone-polymer'
            }
        }

        customElements.define(TabellonePolymer.is, TabellonePolymer);
    </script>
</dom-module>

