<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/vaadin-button/vaadin-button.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../../../bower_components/vaadin-icons/vaadin-icons.html">

<dom-module id="turno-cell">
    <template>
        <style>
            #container {
                width: 100%
                padding-top: 100px;
                /*font-size: small;*/
                display: flex;
                flex-direction: column;
                /*border-style: solid;*/
                /*border-width: 0.1em;*/
                /*border-radius: 0.5em;*/
                /*border-color: rgb(101, 101, 104);*/
            }

        </style>

        <!--Client-initiated events:-->
        <!--Client side template code:-->
        <!--Un click nel container lancia un evento sincrono (di nome handleClick) in questo Client-->
        <!--Un click nel container lancia un evento asincrono (di nome handleClick) nel Server-->
        <!--Doppia graffa è 'One way binding' mentre doppia quadra è 'Two way binding'-->
        <div id="container" on-click="handleClick">
            <template is="dom-repeat" items="[[righecella]]">
                <button style="width: 100%; height: 10mm; text-align: left; font-size:3.5mm; font-weight: bold; background-color:{{item.colore}};">
                    <iron-icon icon=[[item.icona]] slot="prefix" style="height:4.5mm"></iron-icon>
                    {{item.milite}}
                </button>
            </template>

        </div>

    </template>

    <script>
        class TurnoCellPolymer extends Polymer.Element {
            static get is() {
                return 'turno-cell'
            }// end of static script method
            // Eventuale JavaScript event handler, run immediately
            handleClick() {
                // window.alert('Button was clicked');
            }// end of script method
        }// end of script class
        customElements.define(TurnoCellPolymer.is, TurnoCellPolymer);
    </script>

</dom-module>

